# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
dic
calgary
cantrbry
decode.txt
w2-s.tsv
w2.tsv
w2_.tsv
benchmark.txt